body{
    background-color: #333232;
    font-family: "raleway";
    font-size: 18px;
    margin: 0;  /* remove gap on top of page */
}

@font-face{                 /* font for #nav-left & showcase-1 */
    font-family: 'monotype';
    src: url(../css/fonts/monotypecorsiva/911Fonts.com_MonotypeCorsiva_Regular_-_911fonts.com_fonts_gyWJ.ttf);
}

@font-face{                 /* default font face */
    font-family: 'raleway';
    src: url(fonts/raleway/Raleway-Light.ttf)
}

#container{
    background-color: #fff;
    width: 80%;
    margin: auto;
    color: #333;
}

/* nav */
#nav{
    position: fixed;
    top: 0;
    width: 80%;
    height: 2.8em;
    /*overflow: auto;*/
    /*background-color: #2f4400;*/
    background-color: #464646;
}

#nav-left{
    width: 33%;
    height: 60%;
    float: left;
    font-size: 28px;
    font-family: "monotype";
    margin-top: 7px;
    padding-left: 12px;
}

#nav-right{
    width: 64%;
    height: 60%;
    float: right;
    font-size: 15px;
    text-align: right;
    margin-top: 13px;
}

#nav a{
    color: #fff;
    padding-right: 15px;
    text-decoration: none;
}
  
#nav a:hover{
    /*color: #e2e0e0;*/
    /*color: #ffe300;*/
    color: #e2e2e2;
}

#nav-right input[type=text]{
    font-size: 14px;
    border-radius: 6px;
    margin: 0 10px;
}

/* responsive rules of nav */
#nav-right .mobile{
    margin-right: 10px;
    display: none;
}

@media only screen and (max-width: 800px) {
    #nav-right .mobile{
        display: inline-block;
    }
    #nav-right .desktop{
        display: none;
    }
}
/* end of nav */

/* showcase */
#showcase{
    margin-top: 2.8em;
    height: 100%;
    background-image: url(../images/showcase/gijjakuta.JPG);
    background-size: 100% 100%;
}

#showcase-1{
    overflow: hidden;
    min-height: 5em;
    font-family: "monotype";
    color: #ffe300;
    font-size: 20px;
    text-align: justify;
    padding: 0 20px;
}

#showcase-2{
    overflow: hidden;
    min-height: 2em;
    font-family: 'raleway_normal';
    font-weight: normal;
    color: #04f84e;
    font-size: 24px;
    text-align: center;
}

@font-face{                 /* font for showcase-2 */
    font-family: 'raleway_normal';
    src: url(fonts/raleway/Raleway-Regular.ttf)
}

/* end of showcase */

/* Content */
#content{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

#main{
    width: 77%;
    float: left;
    padding: 0 12px;
    text-align: justify;
    color: #3f3f3f;
    box-sizing: border-box;     /* allows to include padding+border */
}

#sidebar{
    width: 22%;
    float: right;
    padding: 10px 10px 0 10px;
    text-align: justify;

    box-sizing: border-box;
    /*background-color: #e8e8e8;*/
    background-color: #464646;
}

.sidebar-tooltip{
    position: relative;
    display: inline-block;
    background-image: url;
}

.sidebar-tooltip .sidebar-tooltiptext{
    visibility: hidden;
    width: 60px;
    font-family: 'raleway_normal';
    font-size: 12px;
    background-color: #686868;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
}

.sidebar-tooltip:hover .sidebar-tooltiptext{
    visibility: visible;
}

.sidebar-article{
    margin-top: 20px;
    /*color: #3f3f3f;*/
    color: #fff;
}

#sidebar .sidebar-article h3{
    margin-bottom: 0;
    color: coral;
}

#sidebar .sidebar-article p{
    font-size: 14px;
}

/* responsive rules of content */
@media only screen and (max-width:800px){    /* with @media, main & sidebar can adjust accordingly either side by side or on top of each other */
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}
/* end of content */

/* footer */
#footer{
    clear: both;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    background-color: #464646;
}
/* end of footer */