body{
    background-image: url(../images/sand.png);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;                                /* remove gap on top of page */
}

#container{
    background-color: #fff;
    width: 80%;
    margin: auto;
}

#nav{
    overflow: hidden;
    background-color: #333;
    height: 2.7em;
    font-size: 1em;
}

#nav h3{
    float: left;
    font-family: monospace;
    color: #fff;
    text-align: center;
    margin: 0.6em;
    padding: 0 16px;
    font-size: 18px;
}

#nav-right{
    float: right
}

#nav a{
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}
  
#nav a:hover{
    /*background-color: #ddd;*/
    color: #C9CBC9                         /* #04FC0A; */
}
  
#nav a.active{
    background-color: #4CAF50;
    color: white;
}

#showcase{
    text-align: center;
    border: solid 1px black;
}

#showcase-1{
    background-color: lightblue;
    /*min-height: 20px;
    border: solid 1px black;*/
}

#showcase-2{
    background-color: yellow;
    border: solid 1px black;
}

#content{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

#main{
    width: 77%;
    float: left;
    margin-right: 5px;
    padding: 10px;
    text-align: justify;
    box-sizing: border-box;             /* allows to include padding+border */
}

#sidebar{
    width: 22%;
    float: right;
    background-color: #E8EDE8;
    padding: 10px;
    text-align: justify;
    box-sizing: border-box;
}

h3{
    margin-bottom: 0;
}

@media(max-width:650px){                /* with @media, main & sidebar can adjust accordingly either side by side or on top of each other */
    #main{
        width: 100%;
        float: none;
    }
    #sidebar{
        width: 100%;
        float: none;
    }
}

#footer{
    clear: both;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
}